<html>
  <body>
    <div class="top-buttons">
    <div class="health-bar">
      <label>Santé</label>
      <input type="range" value={{getHealth()}} disabled>
    </div>
    <div class="settings">
    <button>Parametres</button>
  </div>
</div>
  <br><br>
    <div class="heart"><img src=""></div>
    <div class="jojogotchi-img">
      <img src="">
    </div>
    <div class="bottom-buttons">
      <button class="buttons">Nourrir</button>
      <button class="buttons">Coucher</button>
      <button class="buttons">Demander</button>
    </div>
  </body>
</html>
