<html>
  <meta charset="UTF-8">
  <div class="panel">
    <div class="top-buttons">
    <div class="health-bar">
      <img class="icon-btn" src="./assets/images/icons8-aimer-64.png">
      <input type="range" min=0 max=100 value={{getHealth()}} disabled>
    </div>
    <div class="age"><b>{{getAge() + ' ' + getDaysWording()}}</b></div>
    <div class="settings">
    <button disabled><img class="icon-btn" src="./assets/images/icons8paramètres32.svg"></button>
  </div>
</div>
  <div class="dicton">
    <label><b>Dicton du Jour:</b></label>
    <div class="dicton-text">{{getDictonWording()}}</div>
  </div>
    <div class="jojogotchi">
      <img id="jojogotchi" class="jojogotchi-img" [src]="getJojoGotchiImgSrc()">
    </div>
    <div class="bottom-buttons">
      <button (click)='feedJojoGotchi()'><img class="icon-btn" src="./assets/images/icons8-poulet-kfc-64.png"></button>
      <button (click)='bedJojoGotchi()'><img class="icon-btn" src="./assets/images/icons8dormirdanslelit32.svg"></button>
      <button (click)="showWindow()"><img class="icon-btn" src="./assets/images/icons8demanderunservice32.svg"></button>
    </div>
  </div>
  <div class="panel-2-buttons" *ngIf='isWindowDisplayed'>
    <button class="secondary-button" (click)="showVaiselle()"><img class="panel-2-icon-btn" src="./assets/images/icons8machineàlaver32.svg"><div class="panel-2-button-text">Faire la vaiselle</div></button>
      <button class="secondary-button" (click)="showBabyYoda()"><img class="panel-2-icon-btn" src="./assets/images/icons8babyyoda32.svg"><div class="panel-2-button-text">Baby Yoda</div></button>
      <button class="secondary-button" (click)="showStory()"><img class="panel-2-icon-btn" src="./assets/images/icons8livreouvert32.svg"><div class="panel-2-button-text">Il était une fois</div></button>
      <button class="secondary-button" (click)="showAustraly()"><img class="panel-2-icon-btn" src="./assets/images/icons8-pays-australie-32.svg"><div class="panel-2-button-text">Australie</div></button>
      <button class="secondary-button" (click)="closeWindow()"><img class="panel-2-icon-btn" src="./assets/images/icons8-fermer-la-fenêtre-100.png"><div class="panel-2-button-text">Fermer</div></button>
  </div>
<div></div>

  <div class="sub-panel vaiselle" *ngIf="this.displayVaiselle">
    <div class="vaiselle-text">
      {{this.vaiselleResponse}}
    </div>
    <button class="sub-panel-button btn-vaiselle" (click)="hideVaiselle()">Fermer</button>
  </div>
  <div class="sub-panel baby-yoda" *ngIf="this.displayBabyYoda">
    <img class="gif" [src]="getBabyYodaImgSrc(this.babyYodaPart)">
    <div class="nav-story-buttons">
      <button class="sub-panel-button" (click)="onPreviousBabyYodaPart()">Precedent</button>
      <button class="sub-panel-button" (click)="onNextBabyYodaPart()">Suivant</button>
    </div>
    <button class="sub-panel-button btn-baby-yoda" (click)="hideBabyYoda()">Fermer</button>
  </div>
  <div class="sub-panel story" *ngIf="this.displayStory">
    <div class="story-text">
      {{getStoryWording(this.storyPart)}}
      <img *ngIf="this.showStoryIllustration()" class="story-illustration" src="./assets/images/storypicture.png">
      <div *ngIf="this.showStoryIllustration()" class="story-legend">{{getStorySubLegend()}}</div>
    </div>
    <div class="nav-story-buttons">
      <button class="sub-panel-button" (click)="onPreviousStoryPart()">Precedent</button>
      <button class="sub-panel-button" (click)="onNextStoryPart()">Suivant</button>
    </div>
    <button class="sub-panel-button btn-story" (click)="hideStory()">Fermer</button>
  </div>
  <div class="sub-panel australy" *ngIf="this.displayAustraly">
    <img class="australia" [src]="getAustraliaImgSrc(this.australiaPart)">
    <div class="australia-legend">{{getAustraliaSubLegend(this.australiaPart)}}</div>
    <div class="nav-story-buttons">
      <button class="sub-panel-button" (click)="onPreviousAustraliaPart()">Precedent</button>
      <button class="sub-panel-button" (click)="onNextAustraliaPart()">Suivant</button>
    </div>
    <button class="sub-panel-button btn-australy" (click)="hideAustraly()">Fermer</button>
  </div>
  <audio autoplay loop [src]="getAudioBackground()"></audio>
</html>
